# Copy to .env before running:
# cp .env.example .env   (Windows: copy .env.example .env)

DB_URL=jdbc:sqlite:database.db
DB_DRIVER=org.sqlite.JDBC
HIBERNATE_DIALECT=org.hibernate.community.dialect.SQLiteDialect

# optional (you can leave blank if you don't need admin registration or you can write your own desired secret code to enable role admin in register)

ADMIN_REGISTER_SECRET=
